{% extends 'fittracker/base_dashboard.html' %}

{% block dashboard_content %}
<h2>Welcome, {{ user.first_name }}!</h2>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Recent Activities
            </div>
            <ul class="list-group list-group-flush">
                {% for activity in recent_activities %}
                <li class="list-group-item">{{ activity.get_activity_type_display }} - {{ activity.duration }} minutes</li>
                {% empty %}
                <li class="list-group-item">No recent activities</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Current Goals
            </div>
            <ul class="list-group list-group-flush">
                {% for goal in goals %}
                <li class="list-group-item">{{ goal.title }}</li>
                {% empty %}
                <li class="list-group-item">No current goals</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Recent Moods
            </div>
            <ul class="list-group list-group-flush">
                {% for mood in recent_moods %}
                <li class="list-group-item">{{ mood.get_mood_display }} - {{ mood.date }}</li>
                {% empty %}
                <li class="list-group-item">No recent mood entries</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
